@use "sass:map";
@use "./themes" as t;

@use "./components/buttons";
@use "./components/cookie-banner";
@use "./components/footer";
@use "./components/forms";
@use "./components/header-logo";
@use "./components/header";
@use "./components/inputs";
@use "./components/layouts";
@use "./components/main";
@use "./components/tables";
@use "./components/toast-notification";
@use "./components/user-controls";

#sign-out-button,
#theme-toggle {
  outline: none;
  cursor: pointer;
  appearance: none;
}

.scrollbar-x,
.scrollbar-y {
  overflow: hidden;
  transition: all 300ms ease-in-out;

  &::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    transition: all 300ms ease-in-out;
  }

  &::-webkit-scrollbar-thumb {
    border: 3px solid;
    border-radius: 1rem;
    transition: all 300ms ease-in-out;
  }
}

.scrollbar-x {
  overflow-x: scroll;
}

.scrollbar-y {
  overflow-y: scroll;
}

.loading-spinner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  svg {
    transition: fill 300ms ease-in-out;

    path {
      transition: stroke 300ms ease-in-out;
    }
  }
}

.image-container {
  overflow: hidden;
  border-top-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  transition: border-color 300ms ease-in-out;
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.5);
}

.link-text {
  text-decoration: underline;
  text-underline-offset: 0.1rem;
  transition: text-underline-offset 100ms ease-in-out;

  &:hover {
    text-underline-offset: 0.2rem;
  }
}

.animate-blink {
  animation: blink 2000ms linear 0ms infinite forwards;
}

.link-wrapper {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: absolute;
}

@each $theme-name, $theme-vars in t.$themes {
  .#{$theme-name} {
    $color-primary: map.get($theme-vars, color-primary);
    $color-secondary: map.get($theme-vars, color-secondary);

    fill: $color-secondary;
    stroke: $color-secondary;

    .loading-spinner {
      fill: $color-secondary;
      stroke: $color-secondary;
    }

    .scrollbar-x,
    .scrollbar-y {
      &::-webkit-scrollbar-track {
        background: $color-primary;
      }

      &::-webkit-scrollbar-thumb {
        border-color: $color-primary;
        background-color: $color-secondary;
      }

      &::-webkit-scrollbar-corner {
        background-color: $color-primary;
      }
    }
  }
}
