$themes: (
  dark: (
    color-primary: #222831,
    color-secondary: #dfd0b8
  ),
  light: (
    color-primary: #f3f3e0,
    color-secondary: #183b4e
  ),
  custom: (
    color-primary: #a02334,
    color-secondary: #ffeead
  )
);