@use "sass:map";
@use "tailwindcss";
@use "./components";
@use "./animations";
@use "./themes" as t;

* {
  box-sizing: border-box;
}

/* A */
aside {
  animation: fade-in 1000ms ease-out forwards;
}

/* B */
body {
  width: 100vw;
  display: flex;
  overflow-x: hidden;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
  background-color: map.get(map.get(t.$themes, dark), color-primary);
}

button {
  cursor: pointer;
}

/* H */
h1 {
  @apply text-7xl;
  font-weight: bold;
}

h2 {
  @apply text-5xl;
  font-weight: bold;
}

h3 {
  @apply text-3xl;
  font-weight: bold;
}

h4 {
  @apply text-xl;
  font-weight: bold;
}

h5 {
  @apply text-lg;
  font-weight: bold;
}

h6 {
  @apply text-base;
  font-weight: bold;
}

/* S */
section {
  @apply max-w-7xl;
  width: 100%;
  margin: 0 auto;
  animation: fade-in 1000ms ease-out forwards;
}
svg {
  transition: fill 300ms ease-out;

  path,
  line,
  rect,
  polyline {
    transition: stroke 300ms ease-out;
  }
}

@each $theme-name, $theme-vars in t.$themes {
  .#{$theme-name} {
    transition: color 300ms ease-out, background-color 300ms ease-out, border-color 300ms ease-out;
  }
}
