@import "tailwindcss";

:root {
  --white: #ffffff;
  --black: #0a0a0a;
  --background: #ffffff;
  --foreground: #0a0a0a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  position: relative;
  font-family: monospace;
  color: var(--foreground);
  background: var(--background);
}

main {
  @apply max-w-7xl mx-auto;
}

input,
select {
  @apply px-2.5 py-1;
  border: 2px solid var(--white);
  appearance: none;
  outline: none;
}

.all-width-100 > * {
  width: 100%;
}
