@use "./fonts";
@use "tailwindcss";
@use "./components";
@use "./palettes/dark" as dark;
@use "./palettes/light" as light;
@use "./palettes/custom" as custom;

* {
  box-sizing: border-box;
}

body {
  @apply relative text-base;
  font-family: "Jet_Brains", monospace;
  background-color: dark.$color-primary;
}

header {
  width: 100%;
  z-index: 50;

  > div {
    border: 3px solid;
    max-width: calc(0.25rem * 375);
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    width: calc(100% - (0.25rem * 20));
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.5);
    transition: background-color 300ms ease-in-out, border-color 300ms ease-in-out;
  }

  &.dark {
    background: dark.$color-primary;

    > div {
      color: dark.$color-secondary;
      background: dark.$color-primary;
      border-color: dark.$color-secondary;
    }
  }

  &.light {
    background: light.$color-primary;

    > div {
      color: light.$color-secondary;
      background: light.$color-primary;
      border-color: light.$color-secondary;
    }
  }

  &.custom {
    background: custom.$color-primary;

    > div {
      color: custom.$color-secondary;
      background: custom.$color-primary;
      border-color: custom.$color-secondary;
    }
  }
}

main {
  @apply min-h-screen;

  &.dark {
    color: dark.$color-secondary;
    background: dark.$color-primary;
  }

  &.light {
    color: light.$color-secondary;
    background: light.$color-primary;
  }

  &.custom {
    color: custom.$color-secondary;
    background: custom.$color-primary;
  }
}

footer {
  border-top: 3px solid;

  &.dark {
    color: dark.$color-secondary;
    background: dark.$color-primary;
    border-color: dark.$color-secondary;
  }

  &.light {
    color: light.$color-secondary;
    background: light.$color-primary;
    border-color: light.$color-secondary;
  }

  &.custom {
    color: custom.$color-secondary;
    background: custom.$color-primary;
    border-color: custom.$color-secondary;
  }
}

section {
  @apply max-w-7xl mx-auto w-full;
}

h1 {
  @apply text-7xl font-bold;
}

svg {
  transition: fill 300ms ease-in-out;

  path,
  line,
  polyline,
  rect {
    transition: stroke 300ms ease-in-out;
  }
}

.link-text {
  text-decoration: underline;
  text-underline-offset: 0.1rem;
  transition: text-underline-offset 100ms ease-in-out;

  &:hover {
    text-underline-offset: 0.2rem;
  }
}

.animate-blink {
  animation: blink 1000ms liner infinite;
}

.all-width-100 > * {
  width: 100%;
}

.scrollbar-y {
  overflow: hidden;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  &::-webkit-scrollbar-thumb {
    border: 3px solid;
    border-radius: 1rem;
  }
}

.dark,
.light,
.custom {
  transition: color 300ms ease-in-out, background-color 300ms ease-in-out, border-color 300ms ease-in-out;

  .loading-spinner {
    svg {
      transition: fill 300ms ease-in-out;

      path {
        transition: stroke 300ms ease-in-out;
      }
    }
  }
}

.dark {
  .loading-spinner {
    fill: dark.$color-secondary;
    stroke: dark.$color-secondary;
  }

  .scrollbar-y {
    &::-webkit-scrollbar-track {
      background: dark.$color-primary;
    }

    &::-webkit-scrollbar-thumb {
      border-color: dark.$color-primary;
      background-color: dark.$color-secondary;
    }
  }
}

.light {
  .loading-spinner {
    fill: light.$color-secondary;
    stroke: light.$color-secondary;
  }

  .scrollbar-y {
    &::-webkit-scrollbar-track {
      background: light.$color-primary;
    }

    &::-webkit-scrollbar-thumb {
      border-color: light.$color-primary;
      background-color: light.$color-secondary;
    }
  }
}

.custom {
  .loading-spinner {
    fill: custom.$color-secondary;
    stroke: custom.$color-secondary;
  }

  .scrollbar-y {
    &::-webkit-scrollbar-track {
      background: custom.$color-primary;
    }

    &::-webkit-scrollbar-thumb {
      border-color: custom.$color-primary;
      background-color: custom.$color-secondary;
    }
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes slide-left-reverse {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
