@use "tailwindcss";
@use "./components";
@use "./palettes/dark" as dark;
@use "./palettes/light" as light;
@use "./palettes/custom" as custom;

* {
  box-sizing: border-box;
}

body {
  background-color: dark.$color-primary;
}

main {
  min-height: 100vh;

  &.dark {
    color: dark.$color-secondary;
    background: dark.$color-primary;
  }

  &.light {
    color: light.$color-secondary;
    background: light.$color-primary;
  }

  &.custom {
    color: custom.$color-secondary;
    background: custom.$color-primary;
  }
}

footer {
  border-top: 3px solid;

  &.dark {
    color: dark.$color-secondary;
    background: dark.$color-primary;
    border-color: dark.$color-secondary;
  }

  &.light {
    color: light.$color-secondary;
    background: light.$color-primary;
    border-color: light.$color-secondary;
  }

  &.custom {
    color: custom.$color-secondary;
    background: custom.$color-primary;
    border-color: custom.$color-secondary;
  }
}

section {
  @apply max-w-7xl;
  width: 100%;
  margin: 0 auto;
}

h1 {
  @apply text-7xl;
  font-weight: bold;
}

svg {
  transition: fill 300ms ease-in-out;

  path,
  line,
  rect,
  polyline {
    transition: stroke 300ms ease-in-out;
  }
}

.link-text {
  text-decoration: underline;
  text-underline-offset: 0.1rem;
  transition: text-underline-offset 100ms ease-in-out;

  &:hover {
    text-underline-offset: 0.2rem;
  }
}

.animate-blink {
  animation: blink 1000ms liner infinite;
}

.all-width-100 > * {
  width: 100%;
}

.dark,
.light,
.custom {
  transition: color 300ms ease-in-out, background-color 300ms ease-in-out, border-color 300ms ease-in-out;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes slide-left-reverse {
  0% {
    transform: translateX(0px);
  }

  100% {
    transform: translateX(100%);
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
