$color-1: #222831;
$color-1-rgb: rgb(34, 40, 49);

$color-2: #393e46;
$color-2-rgb: rgb(57, 62, 70);

$color-3: #948979;
$color-3-rgb: rgb(148, 137, 121);

$color-4: #dfd0b8;
$color-4-rgb: rgb(223, 208, 184);
