$color-primary: #f3f3e0;
$color-1-rgb: rgb(243, 243, 224);

$color-2: #27548a;
$color-2-rgb: rgb(39, 84, 138);

$color-3: #183b4e;
$color-3-rgb: rgb(24, 59, 78);

$color-4: #dda853;
$color-4-rgb: rgb(221, 168, 83);
