@use "sass:map";
@use "../themes" as t;

.button {
  @apply px-5 py-2;
  width: auto;
  cursor: pointer;
  font-weight: bold;
  border: 3px solid;
  border-top-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  transition: all 300ms ease-in-out;

  &:hover,
  &:focus,
  &:active,
  &:focus-within {
    outline: none;
    appearance: none;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
}

@each $theme-name, $theme-vars in t.$themes {
  .#{$theme-name} {
    $color-primary: map.get($theme-vars, color-primary);
    $color-secondary: map.get($theme-vars, color-secondary);

    .button {
      color: $color-primary;
      border-color: $color-secondary;
      background-color: $color-secondary;

      &:hover,
      &:focus,
      &:active,
      &:focus-within {
        color: $color-secondary;
        background-color: $color-primary;
      }
    }
  }
}
