@use "../palettes/dark" as dark;
@use "../palettes/light" as light;

.button {
  @apply px-5 py-2 w-auto font-bold cursor-pointer;
  border: 3px solid;
  border-top-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  transition: color 300ms ease-in-out, background-color 300ms ease-in-out, border-radius 300ms ease-in-out, border-color 300ms ease-in-out;

  &:hover {
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
  }
}

.dark {
  .button {
    color: dark.$color-primary;
    border-color: dark.$color-secondary;
    background-color: dark.$color-secondary;

    &:hover {
      color: dark.$color-secondary;
      background-color: dark.$color-primary;
    }
  }
}

.light {
  .button {
    color: light.$color-primary;
    border-color: litgh.$color-secondary;
    background-color: litgh.$color-secondary;

    &:hover {
      color: litgh.$color-secondary;
      background-color: light.$color-primary;
    }
  }
}
