@use "sass:map";
@use "../themes" as t;

.card {
  width: auto;
  overflow: hidden;
  border: 3px solid;
  position: relative;
  border-top-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  transition: all 300ms ease-in-out;

  > a {
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
  }

  > div {
    @apply p-5 gap-5;
    display: flex;
    flex-direction: column;
  }

  &.country-card {
    > div {
      position: relative;

      > img {
        top: 0;
        right: 0;
        position: absolute;
        border: 3px solid;
        border-bottom-left-radius: 0.5rem;
        transition: border-color 300ms ease-in-out;

        border-top: none;
        border-right: none;
      }

      .header {
        @apply gap-2;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: flex-start;

        .title {
          @apply text-4xl;
          font-weight: bold;
          padding-right: calc(0.25rem * 10);
        }

        .edit {
          z-index: 2;
          display: flex;
          position: relative;
          flex-direction: row;
          align-items: center;
          justify-content: flex-end;

          svg {
            transition: all 300ms ease-in-out;
          }
        }
      }
    }
  }
}

@each $theme-name, $theme-vars in t.$themes {
  .#{$theme-name} {
    $color-primary: map.get($theme-vars, color-primary);
    $color-secondary: map.get($theme-vars, color-secondary);
    $color-highlight: map.get($theme-vars, color-highlight);

    .card {
      &.country-card {
        color: $color-secondary;
        border-color: $color-secondary;
        background-color: $color-primary;

        &:hover {
          color: $color-primary;
          border-color: $color-primary;
          background-color: $color-secondary;

          > div {
            > img {
              border-color: $color-primary;
            }

            .header {
              .edit {
                a {
                  fill: $color-primary;
                  stroke: $color-primary;
                }
              }
            }
          }
        }

        > div {
          > img {
            border-color: $color-secondary;
          }

          .header {
            .edit {
              a {
                fill: $color-secondary;
                stroke: $color-secondary;
              }
            }
          }
        }
      }
    }
  }
}
