@use "../palettes/dark" as dark;
@use "../palettes/light" as light;
@use "../palettes/custom" as custom;

#cookie-banner {
  @apply hidden fixed top-0 left-0 h-0 h-screen w-screen flex-col justify-end;
  z-index: 100;
  max-height: 0;
  transition: background-color 300ms ease-in-out;

  &.show {
    @apply max-h-screen flex;
    background-color: rgba(0, 0, 0, 0.5);

    > div {
      border-top: 3px solid;
      animation: slide-up 500ms ease-in-out forwards;
    }
  }

  &.dark {
    > div {
      color: dark.$color-secondary;
      border-color: dark.$color-secondary;
      background-color: dark.$color-primary;
    }
  }

  &.light {
    > div {
      color: light.$color-secondary;
      border-color: light.$color-secondary;
      background-color: light.$color-primary;
    }
  }

  &.custom {
    > div {
      color: custom.$color-secondary;
      border-color: custom.$color-secondary;
      background-color: custom.$color-primary;
    }
  }
}
