@use "sass:map";
@use "../themes" as t;

#cookie-banner {
  opacity: 0;
  z-index: 100;
  display: hidden;
  transition: background-color 300ms ease-in-out;

  &.show {
    opacity: 1;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);

    > div {
      border-top: 3px solid;
      animation: slide-up 500ms ease-in-out forwards;
    }
  }
}

@each $theme-name, $theme-vars in t.$themes {
  .#{$theme-name} {
    $color-primary: map.get($theme-vars, color-primary);
    $color-secondary: map.get($theme-vars, color-secondary);

    #cookie-banner {
      > div {
        color: $color-secondary;
        border-color: $color-secondary;
        background-color: $color-primary;
      }
    }
  }
}
