@use "../palettes/dark" as dark;
@use "../palettes/light" as light;
@use "../palettes/custom" as custom;

#dashboard-layout {
  > * {
    width: 100%;
  }

  > div {
    @apply flex flex-row gap-10 items-start justify-end mx-auto;
    overflow: visible;
    position: relative;
    max-width: calc(0.25rem * 375);
    transition: background-color 300ms ease-in-out;

    > * {
      width: 100%;
    }

    > aside {
      @apply w-full max-w-50 h-full flex flex-col items-start justify-start sticky;
      z-index: 49;
      top: calc(0.25rem * 39);

      nav {
        border: 3px solid;
        border-top-right-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        box-shadow: 5px 5px 0px rgba(0, 0, 0.5);
        height: calc(100vh - (0.25rem * 39) - (0.25rem * 29));
        transition: background-color 300ms ease-in-out, border-color 300ms ease-in-out;

        ul {
          height: 100%;
          overflow: hidden;

          li {
            @apply px-5 py-2 w-auto font-bold cursor-pointer w-full;
            transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
          }
        }
      }
    }
  }

  &.dark {
    background-color: dark.$color-primary;

    > div {
      background-color: dark.$color-primary;

      > aside {
        nav {
          border-color: dark.$color-secondary;
          background-color: dark.$color-primary;

          ul {
            li {
              color: dark.$color-secondary;
              background-color: dark.$color-primary;

              a {
                fill: dark.$color-secondary;
                stroke: dark.$color-secondary;
              }

              &:hover {
                color: dark.$color-primary;
                background-color: dark.$color-secondary;

                a {
                  fill: dark.$color-primary;
                  stroke: dark.$color-primary;
                }
              }
            }
          }
        }
      }
    }
  }

  &.light {
    background-color: light.$color-primary;

    > div {
      background-color: light.$color-primary;

      > aside {
        nav {
          border-color: light.$color-secondary;
          background-color: light.$color-primary;

          ul {
            li {
              color: light.$color-secondary;
              background-color: light.$color-primary;

              a {
                fill: light.$color-secondary;
                stroke: light.$color-secondary;
              }

              &:hover {
                color: light.$color-primary;
                background-color: light.$color-secondary;

                a {
                  fill: light.$color-primary;
                  stroke: light.$color-primary;
                }
              }
            }
          }
        }
      }
    }
  }

  &.custom {
    background-color: custom.$color-primary;

    > div {
      background-color: custom.$color-primary;

      > aside {
        nav {
          border-color: custom.$color-secondary;
          background-color: custom.$color-primary;

          ul {
            li {
              color: custom.$color-secondary;
              background-color: custom.$color-primary;

              a {
                fill: custom.$color-secondary;
                stroke: custom.$color-secondary;
              }

              &:hover {
                color: custom.$color-primary;
                background-color: custom.$color-secondary;

                a {
                  fill: custom.$color-primary;
                  stroke: custom.$color-primary;
                }
              }
            }
          }
        }
      }
    }
  }
}
