@use "sass:map";
@use "../themes" as t;

.form {
  .form-loading-container {
    z-index: 1;
    transition: background-color 300ms ease-in-out;
  }
}

@each $theme-name, $theme-vars in t.$themes {
  .#{$theme-name} {
    $color-primary: map.get($theme-vars, color-primary);
    $color-secondary: map.get($theme-vars, color-secondary);

    .form {
      .form-loading-container {
        background-color: $color-primary;
      }
    }
  }
}
