@use "../palettes/dark" as dark;
@use "../palettes/light" as light;

#header-logo {
  svg {
    transition: fill 200ms ease-in-out;

    path {
      transition: stroke 200ms ease-in-out;
    }
  }

  &.dark {
    fill: dark.$color-secondary;
    stroke: dark.$color-secondary;
  }

  &.light {
    fill: litgh.$color-secondary;
    stroke: litgh.$color-secondary;
  }
}
