@use "sass:map";
@use "../themes" as t;

@mixin themes() {
  @each $theme-name, $theme-vars in t.$themes {
    &.#{$theme-name} {
      $color-primary: map.get($theme-vars, color-primary);
      $color-secondary: map.get($theme-vars, color-secondary);

      background: $color-primary;

      .main {
        color: $color-secondary;
        background: $color-primary;
        border-color: $color-secondary;
      }
    }
  }
}

#header {
  @include themes();

  & {
    z-index: 50;

    .main {
      border: 3px solid;
      max-width: calc(0.25rem * 375);
      border-top-right-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
      width: calc(100% - (0.25rem * 20));
      transition: background-color 300ms ease-in-out, border-color 300ms ease-in-out;
    }
  }
}
