@use "sass:map";
@use "../themes" as t;

@use "./main";
@use "./cards";
@use "./forms";
@use "./footer";
@use "./header";
@use "./inputs";
@use "./tables";
@use "./modals";
@use "./buttons";
@use "./layouts";
@use "./cookie-banner";
@use "./user-controls";
@use "./tab-container";
@use "./toast-notification";
@use "./impersonation-controls";
@use "./impersonation-restricted-banner";

/* G */
.game-controller {
  > .controller {
    form {
      > div {
        max-height: 78px;

        .input {
          min-width: 300px;
        }
      }
    }
  }
}

/* H */
.hero-banner {
  .highlights {
    padding-left: calc(75px + (0.25rem * 2));
  }
}

/* I */
.image-container {
  overflow: hidden;
  border-top-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  transition: border-color 300ms ease-out;
}

.image-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;

  img {
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    min-width: 100%;
    position: absolute;
    translate: -50% -50%;
  }
}

/* L */
.link-text {
  cursor: pointer;
  font-weight: bold;
  filter: brightness(1);
  text-transform: uppercase;
  transition: filter 300ms ease-out;

  &:hover {
    filter: brightness(0.5);
  }
}
.link-wrapper {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  position: absolute;
}

/* S */
.scrollbar-x,
.scrollbar-y {
  overflow: hidden;
  transition: all 300ms ease-out;

  &::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    transition: all 300ms ease-out;
  }

  &::-webkit-scrollbar-thumb {
    border: 3px solid;
    border-radius: 1rem;
    transition: all 300ms ease-out;
  }
}
.scrollbar-x {
  overflow-x: scroll;
}
.scrollbar-y {
  overflow-y: scroll;
}

@each $theme-name, $theme-vars in t.$themes {
  .#{$theme-name} {
    $color-primary: map.get($theme-vars, color-primary);
    $color-highlight: map.get($theme-vars, color-highlight);
    $color-secondary: map.get($theme-vars, color-secondary);

    fill: $color-secondary;
    stroke: $color-secondary;

    /* A */
    .admin,
    &.admin {
      fill: $color-highlight;
      color: $color-highlight;
      stroke: $color-highlight;
    }

    /* H */
    .highlight,
    &.highlight {
      fill: $color-highlight;
      color: $color-highlight;
      stroke: $color-highlight;
    }

    /* I */
    #impersonation-header-tag {
      div {
        fill: $color-secondary;
        stroke: $color-secondary;
        border-color: $color-secondary;

        p {
          color: $color-secondary;
          background-color: $color-primary;
        }
      }
    }

    /* L */
    .link-text {
      fill: $color-highlight;
      color: $color-highlight;
      stroke: $color-highlight;
    }

    .loading-spinner {
      fill: $color-secondary;
      stroke: $color-secondary;
    }

    /* S */
    .scrollbar-x,
    .scrollbar-y {
      &::-webkit-scrollbar-track {
        background: $color-primary;
      }

      &::-webkit-scrollbar-thumb {
        border-color: $color-primary;
        background-color: $color-secondary;
      }

      &::-webkit-scrollbar-corner {
        background-color: $color-primary;
      }
    }
  }
}
