@use "../palettes/dark" as dark;
@use "../palettes/light" as light;

.input {
  @apply flex flex-col gap-2 text-left;

  input,
  select {
    @apply px-5 py-2;
    outline: none;
    appearance: none;
    border: 3px solid;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    transition: border-radius 300ms ease-in-out, background-color 300ms ease-in-out, color 300ms ease-in-out, border-color 300ms ease-in-out;

    &:focus,
    &:active,
    &:focus-within {
      border-top-right-radius: 0;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    & + div {
      svg {
        transition: fill 300ms ease-in-out;

        path {
          transition: stroke 300ms ease-in-out;
        }
      }
    }
  }

  input[type="submit"] {
    @apply cursor-pointer;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}
.dark {
  .input {
    input,
    select {
      border-color: dark.$color-secondary;
      background-color: dark.$color-primary;

      &:focus,
      &:active,
      &:focus-within {
        color: dark.$color-primary;
        background-color: dark.$color-secondary;

        & + div {
          fill: dark.$color-primary;
          stroke: dark.$color-primary;
        }
      }

      & + div {
        fill: dark.$color-secondary;
        stroke: dark.$color-secondary;
      }
    }
  }
}

.light {
  .input {
    input,
    select {
      border-color: litgh.$color-secondary;
      background-color: light.$color-primary;

      &:focus,
      &:active,
      &:focus-within {
        color: light.$color-primary;
        background-color: litgh.$color-secondary;

        & + div {
          fill: light.$color-primary;
          stroke: light.$color-primary;
        }
      }

      & + div {
        fill: litgh.$color-secondary;
        stroke: litgh.$color-secondary;
      }
    }
  }
}
