@use "../palettes/dark" as dark;
@use "../palettes/light" as light;
@use "../palettes/custom" as custom;

.input {
  @apply gap-2;
  display: flex;
  text-align: left;
  flex-direction: column;

  input,
  select,
  textarea {
    @apply px-5 py-2;
    outline: none;
    appearance: none;
    border: 3px solid;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    transition: all 300ms ease-in-out;

    &:focus,
    &:active,
    &:focus-within {
      border-top-right-radius: 0;
      border-bottom-left-radius: 0;
      border-top-left-radius: 0.5rem;
      border-bottom-right-radius: 0.5rem;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      margin: 0;
      -webkit-appearance: none;
    }
  }

  select,
  input[type="submit"] {
    cursor: pointer;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }

  &.multi-text-input {
    > .input {
      @apply gap-2;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;

      input {
        width: 100%;
      }
    }

    > .values {
      @apply gap-2;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: flex-start;
    }
  }

  &.password-input {
    > div {
      @apply gap-5;
      display: flex;
      flex-direction: column;

      .password {
        width: 100%;
        position: relative;

        input {
          width: 100%;
        }

        .hide-show {
          @apply top-3 right-5;
          cursor: pointer;
          position: absolute;
        }
      }

      .password-confirmation {
        @apply gap-2;
        width: 100%;
        display: flex;
        flex-direction: column;

        > * {
          width: 100%;
        }
      }
    }
  }

  &.select-input {
    &:hover,
    &.active {
      > div {
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
        border-top-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
      }
    }

    &.active {
      > div {
        button {
          svg {
            rotate: 180deg;
          }
        }

        ul {
          max-height: 100px;
        }
      }
    }

    > div {
      outline: none;
      appearance: none;
      overflow: hidden;
      border: 3px solid;
      border-top-right-radius: 0.5rem;
      border-bottom-left-radius: 0.5rem;
      transition: all 300ms ease-in-out;

      button {
        @apply px-5 py-2;
        width: 100%;
        outline: none;
        cursor: pointer;
        text-align: left;
        appearance: none;
        transition: background-color 300ms ease-in-out, color 300ms ease-in-out;

        svg {
          position: absolute;
          top: calc(0.25rem * 4);
          right: calc(0.25rem * 5);
          transition: all 300ms ease-in-out;
        }
      }

      ul {
        z-index: 48;
        max-height: 0px;
        position: relative;
        transition: max-height 300ms ease-in-out;

        li {
          @apply px-5 py-2;
          cursor: pointer;
          transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
        }
      }
    }
  }

  &.rectangle-input {
    > div {
      @apply gap-2;
      display: flex;
      flex-direction: row;

      > div {
        width: 100%;
        display: flex;
        flex-direction: column;

        > p {
          @apply text-xs;
          width: 100%;
        }

        > input {
          width: 100%;
        }
      }
    }
  }
}

.dark {
  .input {
    input,
    select,
    textarea {
      border-color: dark.$color-secondary;
      background-color: dark.$color-primary;

      &:focus,
      &:active,
      &:focus-within {
        color: dark.$color-primary;
        background-color: dark.$color-secondary;

        & + div {
          fill: dark.$color-primary;
          stroke: dark.$color-primary;
        }
      }

      & + div {
        fill: dark.$color-secondary;
        stroke: dark.$color-secondary;
      }
    }

    &.select-input {
      &:hover,
      &.active {
        > div {
          button {
            fill: dark.$color-primary;
            color: dark.$color-primary;
            stroke: dark.$color-primary;
            background-color: dark.$color-secondary;
          }
        }
      }

      > div {
        button {
          fill: dark.$color-secondary;
          color: dark.$color-secondary;
          stroke: dark.$color-secondary;
          background-color: dark.$color-primary;
        }

        ul {
          li {
            color: dark.$color-secondary;
            background-color: dark.$color-primary;

            &:hover {
              color: dark.$color-primary;
              background-color: dark.$color-secondary;
            }
          }
        }
      }
    }
  }
}

.light {
  .input {
    input,
    select,
    textarea {
      border-color: light.$color-secondary;
      background-color: light.$color-primary;

      &:focus,
      &:active,
      &:focus-within {
        color: light.$color-primary;
        background-color: light.$color-secondary;

        & + div {
          fill: light.$color-primary;
          stroke: light.$color-primary;
        }
      }

      & + div {
        fill: light.$color-secondary;
        stroke: light.$color-secondary;
      }
    }

    &.select-input {
      &:hover,
      &.active {
        > div {
          button {
            fill: light.$color-primary;
            color: light.$color-primary;
            stroke: light.$color-primary;
            background-color: light.$color-secondary;
          }
        }
      }

      > div {
        button {
          fill: light.$color-secondary;
          color: light.$color-secondary;
          stroke: light.$color-secondary;
          background-color: light.$color-primary;
        }

        ul {
          li {
            color: light.$color-secondary;
            background-color: light.$color-primary;

            &:hover {
              color: light.$color-primary;
              background-color: light.$color-secondary;
            }
          }
        }
      }
    }
  }
}

.custom {
  .input {
    input,
    select,
    textarea {
      border-color: custom.$color-secondary;
      background-color: custom.$color-primary;

      &:focus,
      &:active,
      &:focus-within {
        color: custom.$color-primary;
        background-color: custom.$color-secondary;

        & + div {
          fill: custom.$color-primary;
          stroke: custom.$color-primary;
        }
      }

      & + div {
        fill: custom.$color-secondary;
        stroke: custom.$color-secondary;
      }
    }

    &.select-input {
      &:hover,
      &.active {
        > div {
          button {
            fill: custom.$color-primary;
            color: custom.$color-primary;
            stroke: custom.$color-primary;
            background-color: custom.$color-secondary;
          }
        }
      }

      > div {
        button {
          fill: custom.$color-secondary;
          color: custom.$color-secondary;
          stroke: custom.$color-secondary;
          background-color: custom.$color-primary;
        }

        ul {
          li {
            color: custom.$color-secondary;
            background-color: custom.$color-primary;

            &:hover {
              color: custom.$color-primary;
              background-color: custom.$color-secondary;
            }
          }
        }
      }
    }
  }
}
