@use "sass:map";
@use "../themes" as t;

@mixin themes() {
  @each $theme-name, $theme-vars in t.$themes {
    &.#{$theme-name} {
      $color-primary: map.get($theme-vars, color-primary);
      $color-secondary: map.get($theme-vars, color-secondary);

      background-color: $color-primary;

      aside {
        nav {
          border-color: $color-secondary;
          background-color: $color-primary;

          ul {
            li {
              color: $color-secondary;
              background-color: $color-primary;

              a {
                fill: $color-secondary;
                stroke: $color-secondary;
              }

              &:hover {
                color: $color-primary;
                background-color: $color-secondary;

                a {
                  fill: $color-primary;
                  stroke: $color-primary;
                }
              }
            }
          }
        }
      }
    }
  }
}

.layout {
  @apply p-20 gap-20;
}

#admin-layout,
#dashboard-layout {
  @include themes();

  > div {
    @apply pb-10 gap-10;
    width: 100%;
    display: flex;
    margin: 0 auto;
    overflow: visible;
    position: relative;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    max-width: calc(0.25rem * 360);
    transition: background-color 300ms ease-in-out;

    > aside {
      z-index: 49;
      width: 100%;
      display: flex;
      position: sticky;
      flex-direction: column;
      align-items: flex-start;
      top: calc(0.25rem * 40);
      justify-content: flex-start;
      max-width: calc(0.25rem * 50);

      nav {
        width: 100%;
        border: 3px solid;
        border-top-right-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
        // box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.5);
        max-height: calc(100vh - (0.25rem * 39) - (0.25rem * 29));
        transition: background-color 300ms ease-in-out, border-color 300ms ease-in-out;

        ul {
          width: 100%;
          height: 100%;
          display: flex;
          overflow: hidden;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;

          li {
            @apply px-5 py-2;
            width: 100%;
            cursor: pointer;
            font-weight: bold;
            transition: background-color 300ms ease-in-out, color 300ms ease-in-out;

            a {
              @apply gap-2;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: flex-start;
            }
          }
        }
      }
    }

    main {
      @apply gap-10;
      width: 100%;
      display: flex;
      min-height: 100vh;
      flex-direction: column;
    }
  }
}

#default-layout {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#split-layout {
  > div {
    @apply gap-5;
    display: flex;
    margin: 0 auto;
    overflow: hidden;
    // max-height: 100vh;
    flex-direction: row;
    max-width: calc(0.25rem * 360);
    justify-content: space-between;

    > * {
      width: 100%;
    }
  }
}
