@use "sass:map";
@use "../themes" as t;

.table {
  display: block;

  .inner {
    table {
      min-width: 100%;
      overflow: hidden;

      thead {
        top: 0;
        left: 0;
        position: sticky;
      }

      tbody {
      }
    }
  }
}

#countries-table {
}

@each $theme-name, $theme-vars in t.$themes {
  .#{$theme-name} {
    $color-primary: map.get($theme-vars, color-primary);
    $color-secondary: map.get($theme-vars, color-secondary);
  }
}
