@use "sass:map";
@use "../custom/themes.config" as t;

.table-container {
  .controls {
    border: 3px solid;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;

    > div {
      > p {
        border-bottom: 3px solid;
      }

      > div {
        > div {
          &.active,
          &:hover {
            border-top-right-radius: 0;
            border-bottom-left-radius: 0;
            border-top-left-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
          }
        }
      }

      &.hide-show {
        max-height: 0;
        overflow: hidden;
        transition: max-height 300ms ease-out;

        &.show {
          max-height: 1000px;
        }
      }
    }
  }

  .inner {
    border: 3px solid;
    max-height: 500px;
    border-top-right-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;

    table {
      td,
      th {
        border-left: 3px solid;

        p {
          span {
            line-clamp: 1;
            max-width: 400px;
            display: -webkit-box;
            word-wrap: break-word;
            -webkit-line-clamp: 1;
            text-overflow: ellipsis;
            -webkit-box-orient: vertical;
          }

          svg {
            cursor: pointer;
          }
        }

        &:nth-child(1) {
          border: none;
        }
      }

      td {
        transition: border-color 300ms ease-out;
      }

      thead {
        z-index: 11;
        border-bottom: 3px solid;
      }

      tbody {
        tr {
          border-bottom: 3px solid;
          transition: color 300ms ease-out, background-color 300ms ease-out;

          svg {
            transition: fill 300ms ease-out, stroke 300ms ease-out;
          }

          &:nth-child(even) {
            filter: brightness(1.2);
          }

          &:hover {
            filter: brightness(1);
          }
        }
      }
    }
  }

  .pagination {
    > div {
      > div {
        &.posts-per-page {
          max-height: 46px;
        }
      }
    }
  }
}

@each $theme-name, $theme-vars in t.$themes {
  .#{$theme-name} {
    $color-primary: map.get($theme-vars, color-primary);
    $color-secondary: map.get($theme-vars, color-secondary);
    $color-highlight: map.get($theme-vars, color-highlight);

    .table-container {
      .controls {
        > div {
          &.hide-show {
            > .button {
              fill: $color-primary;
              color: $color-primary;
              stroke: $color-primary;
              border-color: $color-secondary;
              background-color: $color-secondary;

              &.active {
                fill: $color-secondary;
                color: $color-secondary;
                stroke: $color-secondary;
                background-color: $color-primary;

                &:hover {
                  fill: $color-primary;
                  color: $color-primary;
                  stroke: $color-primary;
                  border-color: $color-secondary;
                  background-color: $color-secondary;
                }
              }
            }
          }

          &.search {
            > div {
              > div {
                color: $color-secondary;
                border-color: $color-secondary;
                background-color: $color-primary;

                &:hover,
                &.active {
                  fill: $color-primary;
                  color: $color-primary;
                  stroke: $color-primary;
                  border-color: $color-secondary;
                  background-color: $color-secondary;
                }
              }
            }

            .search-bar {
              &.focused {
                input {
                  color: $color-primary;
                  background-color: $color-secondary;
                }
              }
            }
          }
        }
      }

      .inner {
        border-color: $color-secondary;

        table {
          thead {
            border-color: $color-secondary;

            tr {
              color: $color-primary;
              background-color: $color-secondary;

              th {
                border-color: $color-secondary;

                p {
                  fill: $color-primary;
                  stroke: $color-primary;

                  span {
                    &.sort {
                      fill: $color-primary;
                      stroke: $color-primary;

                      &:hover {
                        fill: $color-highlight;
                        stroke: $color-highlight;
                      }
                    }

                    fill: $color-primary;
                    stroke: $color-primary;
                  }
                }
              }
            }
          }

          tbody {
            border-color: $color-secondary;

            tr {
              fill: $color-highlight;
              color: $color-secondary;
              stroke: $color-highlight;
              border-color: $color-secondary;
              background-color: $color-primary;

              td {
                border-color: $color-secondary;
              }

              &:hover,
              &.pinned {
                color: $color-primary;
                fill: $color-highlight;
                stroke: $color-highlight;
                background-color: $color-secondary;

                td {
                  border-color: $color-secondary;
                }
              }
            }
          }

          &.pinned {
            tbody {
              tr {
                &.pinned {
                  fill: $color-highlight;
                  color: $color-secondary;
                  stroke: $color-highlight;
                  border-color: $color-secondary;
                  background-color: $color-primary;

                  &:hover {
                    color: $color-primary;
                    fill: $color-highlight;
                    stroke: $color-highlight;
                    background-color: $color-secondary;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
