@use "sass:map";
@use "../themes" as t;

.tab-container {
  > .header {
    border-bottom: 3px solid;

    ul {
      border: 3px solid;
      border-bottom: none;
      border-top-right-radius: 0.5rem;

      > li {
        border-left: 3px solid;
        transition: color 300ms ease-out, background-color 300ms ease-out;

        &:nth-child(1) {
          border: none;
        }

        &.active {
          cursor: default;
        }
      }
    }
  }

  > .body {
    max-height: 60vh;
    border: 3px solid;
    border-top: none;
    border-bottom-left-radius: 0.5rem;
  }
}

@each $theme-name, $theme-vars in t.$themes {
  .#{$theme-name} {
    $color-primary: map.get($theme-vars, color-primary);
    $color-secondary: map.get($theme-vars, color-secondary);
    $color-highlight: map.get($theme-vars, color-highlight);

    .tab-container {
      > .header {
        ul {
          > li {
            color: $color-secondary;
            border-color: $color-secondary;
            background-color: $color-primary;

            &:hover,
            &.active {
              color: $color-primary;
              border-color: $color-secondary;
              background-color: $color-secondary;
            }
          }
        }
      }
    }
  }
}
