@use "sass:map";
@use "../themes" as t;

@mixin themes() {
  @each $theme-name, $theme-vars in t.$themes {
    &.#{$theme-name} {
      $color-primary: map.get($theme-vars, color-primary);
      $color-secondary: map.get($theme-vars, color-secondary);

      &.hi,
      &.bye,
      &.success {
        color: $color-secondary;
        border-color: $color-secondary;
        background-color: $color-primary;

        > div {
          fill: $color-secondary;
          stroke: $color-secondary;
        }
      }

      &.error {
        color: $color-primary;
        border-color: $color-secondary;
        background-color: $color-secondary;

        > div {
          fill: $color-primary;
          stroke: $color-primary;
        }
      }
    }
  }
}

#toast-notification {
  @include themes();

  & {
    z-index: 50;
    border: 3px solid;
    border-right: none;
    text-overflow: ellipsis;
    border-bottom-left-radius: 0.5rem;

    p {
      display: -webkit-box;
      word-wrap: break-word;
      -webkit-line-clamp: 3;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;

      &:nth-child(1) {
        -webkit-line-clamp: 2;
      }
    }

    &.none {
      display: none;
    }

    &.hide {
      animation: slide-left-reverse 100ms ease-in forwards;
    }

    &.show {
      animation: slide-left 300ms ease-out forwards;
    }
  }
}
