@use "../palettes/dark-1" as dark;
@use "../palettes/light-1" as light;

#toast-notification {
  @apply fixed top-5 right-5 z-50 w-2xs;
  animation: slide_down 500ms ease-in-out forwards;

  > div {
    @apply p-5 flex flex-col gap-5 items-start;

    h5 {
    }

    p {
    }
  }

  &.success {
    > div {
      @apply bg-green-600;
    }
  }

  &.error {
    > div {
      @apply bg-red-600;
    }
  }

  &.none {
    display: none;
  }

  &.fade-out {
    animation: fade_out 500ms ease-in-out forwards;
  }
}
